* {
  accent: #FF00cc;
  foreground: #424242;
  foreground-trans: #424242cc;
  foreground-null: #42424200;
  background: #ffffff;
  background-trans: #ffffffcc;
  background-null: #ffffff00;
  on:               #66bb6a;
  off:              #ef5350;
}
