* {
  accent: #FF00cc;
  foreground: #ffffff;
  foreground-trans: #ffffffcc;
  foreground-null: #ffffff00;
  background: #282C34;
  background-trans: #282C34cc;
  background-null: #282C3400;
  on:               #66bb6a;
  off:              #ef5350;
}
